<!-- Footer -->
<footer class="page-footer font-small teal shadow p-3" style="margin-top: auto;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Handige links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="{{ asset('contact') }}">Veelgestelde vragen</a>
            </li>
            <li>
              <a href="{{ asset('huisregels') }}">Huisregels</a>
            </li>
            <li>
             <a href="{{ asset('images/benefitstore_privacy_policy.pdf') }}" download>Voorwaarden</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Officiele links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="{{ asset('privacybeleid') }}">Privacybeleid</a>
            </li>
            <li>
              <a href="{{ asset('cookies') }}">Cookies</a>
            </li>
            <li>
              <a href="{{ asset('contact') }}">Contact</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">

           <!-- Grid row -->
           <div class="row">

            <li>
              <a href="https://github.com/evoxius" target="_blank"><img src="{{ asset('images/github.png') }}" style="margin-right:5px;"></img></a>
            </li>
            <li>
              <a href="https://github.com/evoxius" target="_blank"><img src="{{ asset('images/twitter.jpg') }}" style="margin-right:5px;"></img></a>
            </li>
            <li>
              <a href="https://github.com/evoxius" target="_blank"><img src="{{ asset('images/facebook.jpg') }}" style="margin-right:5px;"></img></a>
            </li>
            <li>
              <a href="https://linkedin.com/in/michaelanthonyschaap" target="_blank"><img src="{{ asset('images/linkedin.jpg') }}"></img></a>
            </li>

               </div>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Zilveren Kruis</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->