<nav class="mb-0 navbar navbar-expand-lg navbar-dark unique-color-dark">
  <div class="container">
      <a class="navbar-brand" href="{{ asset('home') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" style="width:275px; height:65px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3"
      aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" href="{{ asset('home/test') }}" id="navbarDropdownMenuLink-3"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">Home
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-3">
            <a class="dropdown-item waves-effect waves-light" href="{{ asset('home/dagpas') }}">Dagpas</a>
            <a class="dropdown-item waves-effect waves-light" href="{{ asset('home/huisregels') }}">Huisregels</a>
            <a class="dropdown-item waves-effect waves-light" href="{{ asset('home/contact') }}">Contact</a>
            <a class="dropdown-item waves-effect waves-light" href="{{ asset('home/cookies') }}">Cookies</a>
          </div>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ asset('registreren') }}" style="font-size: 20px;">Register</a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_MEMBER') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" href="#" id="navbarDropdownMenuLink-3"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">Lessen
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-3">
            <a class="dropdown-item waves-effect waves-light" href="{{ asset('lesson') }}">Publieke rooster</a>
            <a class="dropdown-item waves-effect waves-light" href="{{ asset('lesson/private') }}">Jouw rooster</a>
          </div>
        </li>
        {% else %}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" href="#" id="navbarDropdownMenuLink-3"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">Beheer
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-3">
            <a class="dropdown-item waves-effect waves-light" href="{{ asset('lesson') }}">Rooster</a>
            <a class="dropdown-item waves-effect waves-light" href="{{ asset('member') }}">Members</a>
          </div>
        </li>
        {% else %}
        {% endif %}

      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://www.github.com/evoxius" target="_blank">
            <i class="fa fa-github fa-3x" href="www.github.com/evoxius" target="_blank"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/michaelanthonyschaap" target="_blank">
            <i class="fa fa-linkedin fa-3x"></i>
          </a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item dropdown dropright">
          <a class="nav-link dropdown-toggle waves-effect waves-light dropright" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user fa-3x"></i>
          </a>
          <div class="dropdown-menu dropright" aria-labelledby="navbarDropdownMenuLink">
            
            <a class="dropdown-item waves-effect waves-light" href="{{ path('logout') }}">{{ app.user.username }}
              uitloggen</a>
              
            <a class="dropdown-item waves-effect waves-light" href="{{ path('member_show', { 'id': app.user.id }) }}"> Profiel</a>
            
            {% else %}
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>