{% extends 'base.html.twig' %}

{% block title %}Instructor index{% endblock %}

{% block body %}
   <section id="schemas" class="class pad-top-115">
    <div class="container pr">
        <div class="secHead wow fadeInLeft  animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <div class="skewpink"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="titleText">
                        <h6 class="titleTop">Bekijk</h6>
                        <h2 class="sectionTitle">onze <span> instructors,</span> {{ app.user.username }}</h2>
                    </div>
                </div>
            </div>
        </div>
</section>

<div class="container">
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-info" href="{{ path('instructor_new') }}" style="margin-left:10px; margin-bottom: 40px;">Nieuwe
        instructor
        toevoegen</a>
    {% else %}
    {% endif %}
    <div class="row">
        {% if instructors %}
        <table id="instructors" class="table table-striped fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft; margin-top:20px;">
            <tbody>
                {% for instructor in instructors %}

                <tr>


                    <!-- Card -->
                    <div class="card" style="width: 19rem; margin-left:20px; margin-top:20px;">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ asset('images/user.png') }}" alt="Image van user">
                            <a tabindex="0" role="button" data-placement="left" data-toggle="popover" data-trigger="focus"
                                title="Descriptie" data-content=" {{  instructor.roles ? instructor.roles|join(', ') : ''  }}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body" style="">

                            <!-- Title -->

 
                            <h4 class="card-title text-center"><b>{{ instructor.username }}</b></h4>

                            <p class="text-center">
                                <hr><b>Voornaam:</b> {{ instructor.firstname }}
                                <hr> <b>Achternaam:</b> {{instructor.lastname }} 
                                <hr> <b>Geboortedatum:</b> {{instructor.dateofbirth|date('m/d/Y') }}
                            
                                <hr> <b>Huur datum:</b> {{instructor.HiringDate|date('m/d/Y') }}
                                <hr> <b>Salary:</b> {{instructor.salary }}
                                <hr> <b>Social sec number:</b> {{instructor.SocialSecNumber }}</p>
                            <!-- Button -->

                            <hr>
                            <div class="row" style="margin-left:5px;">

                                {% if is_granted('ROLE_ADMIN') %}
                                {{ include('instructor/_delete_form.html.twig')}}
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="container class">
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;  margin-bottom:300px;">
        <div class="card-header">Sorry!</div>
        <div class="card-body">
            <h5 class="card-title">Maar er zijn op dit moment geen instructors</h5>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
