{% extends 'base.html.twig' %}

{% block title %}Deelnemers van les - TrainingFactory{% endblock %}

{% block body %}
<section id="schemas" class="class pad-top-115">
    <div class="container pr">
        <div class="secHead wow fadeInLeft  animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <div class="skewpink"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="titleText">
                        <h6 class="titleTop">Bekijk</h6>
                        <h2 class="sectionTitle">de <span> deelnemers van deze les,</span> {{ app.user.username }}</h2>
                    </div>
                </div>
            </div>
        </div>
</section>
<div>

<div class="container">
    <div class="row">
        {% if deelnemers %}
        <table id="deelnemers" class="table table-striped fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft; margin-top:20px;">
            <tbody>
                {% for member in deelnemers %}
                <tr>
                    <!-- Card -->
                    <div class="card" style="width: 15rem; margin-left:20px; margin-top:20px;">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ asset('images/user.png') }}" alt="Image van user">
                            <a tabindex="0" role="button" data-placement="left" data-toggle="popover" data-trigger="focus"
                                title="Descriptie" data-content=" {{  member.roles ? member.roles|join(', ') : ''  }}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body" style="">

                            <!-- Title -->


                            <h4 class="card-title text-center"><b>{{ member.username }}</b></h4>

                           <p class="text-center">
                                <hr><b>Voornaam:</b> {{ member.firstname }}
                                <hr> <b>Achternaam:</b> {{member.lastname }} 
                                <hr> <b>Geboortedatum:</b> {{member.dateofbirth }}
                                <hr> <b>Straat:</b> {{member.street }}
                                <hr> <b>Woonplaats:</b> {{member.place }}</p>
                            <!-- Button -->

                            <hr>
                            <div class="row" style="margin-left:5px;">
                                {% if is_granted('ROLE_INSTRUCTOR') %}
                            <a href="{{ path('uitschrijven', { 'id': member.lesson.id }) }}"><i class="fa fa-4x fa-minus"
                                        style="color:red; margin-left:70px;"></i></a>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="container class">
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;   margin-top:70px;">
        <div class="card-header">Sorry!</div>
        <div class="card-body">
            <h5 class="card-title">Maar er zijn op dit moment geen deelnemers ingeschreven</h5>
        </div>
    </div>
</div>
{% endif %}
</div>
</div>


{% endblock %}