{% extends 'base.html.twig' %}

{% block title %}Publieke rooster - TrainingFactory{% endblock %}

{% block body %}
<section id="schemas" class="class pad-top-115">
    <div class="container pr">
        <div class="secHead wow fadeInLeft  animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <div class="skewpink"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="titleText">
                        <h6 class="titleTop">Bekijk</h6>
                        <h2 class="sectionTitle">ons <span> rooster,</span> {{ app.user.username }}</h2>
                    </div>
                </div>
            </div>
        </div>
</section>

    {% if is_granted('ROLE_MEMBER') %}
    <a class="btn btn-danger" style="margin-right:30px; float:right;" href="{{ path('lesson_private', {'id': app.user.id}) }}">Jouw rooster</a>
    {% endif %}
<div class="container">
    <div class="row">
        {% if beschikbare_lessons %}
        <table id="lessons" class="table table-striped fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft; margin-top:20px;">
            <tbody>
                {% for lesson in beschikbare_lessons %}

                <tr>


                    <!-- Card -->
                    <div class="card" style="width: 19rem; margin-left:20px; margin-top:20px;">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ asset('images/' ~ lesson.training.image) }}" alt="Image van user">
                            <a tabindex="0" role="button" data-placement="left" data-toggle="popover" data-trigger="focus"
                                title="Descriptie" data-content=" {{  lesson.training.description  }}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body" style="">

                            <!-- Title -->


                            <h4 class="card-title text-center"><b>{{ lesson.training.name }}</b></h4>

                            <p class="text-center">
                                <hr><b>Tijd:</b> {{ lesson.time|date('H:i') }}
                                <hr> <b>Datum:</b> {{ lesson.date|date('m/d/Y') }}
                                <hr> <b>Lokatie:</b> {{lesson.location }}
                                <hr> <b>Max Personen:</b> {{lesson.maxpersons }}
                            </p>
                            <!-- Button -->

                            <hr>
                            <div class="row" style="margin-left:5px;">
                                <a href="{{ path('inschrijven', { 'id': lesson.id }) }}"><i class="fa fa-4x fa-plus"
                                        style="color:green; margin-right:5px;"></i></a>
                                {% if is_granted('ROLE_INSTRUCTOR') %}
                                <a href="{{ path('lesson_edit', {'id': lesson.id}) }}"><i class="fa fa-4x fa-edit"
                                        style="color:black;"></i></a>
                                {{ include('lesson/_delete_form.html.twig')}}

                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="container class">
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;  margin-bottom:300px;">
        <div class="card-header">Sorry!</div>
        <div class="card-body">
            <h5 class="card-title">Maar er zijn op dit moment geen lessen</h5>
        </div>
    </div>
</div>
{% endif %}


</div>


</div>
</div>
{% endblock %}