{% extends 'base.html.twig' %}

{% block title %}Private rooster - TrainingFactory{% endblock %}

{% block body %}
<section id="schemas" class="class pad-top-115">
    <div class="container pr">
        <div class="secHead wow fadeInLeft  animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <div class="skewpink"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="titleText">
                        <h6 class="titleTop">Bekijk</h6>
                        <h2 class="sectionTitle">jouw <span> rooster,</span> {{ app.user.username }}</h2>
                    </div>
                </div>
            </div>
        </div>
</section>
<div class="container">
    <div class="row">
        <table id="lessons" class="table table-striped fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft; margin-top:20px;">
            <tbody>
                {% for lesson in ingeschreven_lessons %}

                <tr>
                    <div class="card text-white bg-dark" style="margin-bottom:25px; margin-left: 25px;">
                        <div class="card-header"> <div style="float:left; font-size:20px;">Dag: {{
                                lesson.date|date('m/d/Y') }}</div> <div style="float:right; font-size:20px; margin-left:50px;">Max: {{
                                lesson.maxpersons }}</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Begint om: {{ lesson.time|date('H:i') }}</h5>
                            <p class="card-title text-white">Begint in: {{ lesson.location }}</p>


                            <a href="{{ path('uitschrijven', {'id':lesson.id}) }}" >
                               <span class="fa fa-minus" style="color:red; float:right;"></span>
                            </a>
                        </div>
                    </div>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>
</div>
{% endblock %}